[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
sentry-sdk = "*"
boto3 = "*"

[dev-packages]
black = "*"
coveralls = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"
boto3-stubs = "*"
moto = "*"

[requires]
python_version = "3.12"

[scripts]
asati = "python -c \"from asati.cli import main; main()\""
